*{
	box-sizing: border-box;
}
body{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0; 
	padding: 0;
	font-family: serif;
	line-height: 1.5em;

}



/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





.rowhead {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.columnhead1 {
  flex: 40%;
  text-align: center;
}
.columnhead2 {
  flex: 60%;
  text-align: center;
}
.columnhead img {
	max-width: 70%;
	max-height: 70%;
	float: left;
	margin-top: 1%;
}
.columnhead p {
	margin-top: 10%;
	font-weight: bold;
	font-size: 5.6vw;
	line-height: 0.8;
	margin-bottom: 1%;
	float: left;
	transform: translateX(-5%);
	color: /*#1C77C3*/#320D6D
}




.navigation {
  list-style-type: none;
  overflow: hidden;
  background-color: #ECA400; 
  position: -webkit-sticky; /* Safari */ 
  position: sticky;
  top: 0;
  z-index: 4;
  margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
}

.navigation li {
  float: left;
  list-style-type: none;
  font-weight: bold;
  transform: translateX();
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #D95D39;
}